* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: fixed;
  height: 75vh;
  width: 40vw;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 0.3rem;
  border-radius: 20px;
  background: #c4c4c4;
}
.screen {
  font-size: 4rem;
  font-weight: bold;
  height: 15vh;
  width: 38vw;
  border: solid 0.2px;
  border-radius: 15px;
  background: #e3d1d1;
  margin-top: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0rem 0.5rem;
  margin: 0 0.3rem 0.1rem 0.3rem;
  border-radius: 15px;
}
.memory {
  font-size: 2rem;
}
.buttons {
  height: 52vh;
  width: 47vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2rem;
}
button {
  flex: 0 0 20%;
  border: solid bisque 0.1rem;
  border-radius: 10px;
  background: #3768a2;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
button:active {
  background: #ffffff;
  color: #000000;
}
#zero {
  flex-grow: 0.52;
}
.clear,
.plusminus,
.percent {
  background: #858483;
}
.operator,
.equal {
  background: #f07b0df1;
}
.operator:focus {
  background: #fda858f1;
}

@media only screen and (max-width: 1000px) {
  body {
    height: 80vh;
  }
  .container {
    width: 80vw;
  }
  .screen {
    width: 75vw;
    font-size: 2rem;
  }
  p {
    padding: 0rem 0.2rem;
  }
  .buttons {
    width: 90vw;
  }
  button {
    font-size: 1.2rem;
  }
}
